.navBook{
    transition: all 0.5s;
}

body.xstyled-color-mode-light .navBook:hover{
    filter: invert(40%);
}

body.xstyled-color-mode-dark .navBook{
    filter: invert(100%);
}

body.xstyled-color-mode-dark .navBook:hover{
    filter: invert(80%);
}

header{
    border-bottom: 1px solid #b7410e !important;
}