.navBook{
    transition: all 0.5s;
}

body.xstyled-color-mode-light .navBook:hover{
    filter: invert(40%);
}

body.xstyled-color-mode-dark .navBook{
    filter: invert(100%);
}

body.xstyled-color-mode-dark .navBook:hover{
    filter: invert(80%);
}

header{
    border-bottom: 1px solid #b7410e !important;
}

body.xstyled-color-mode-light header{
    background : rgba(255, 255, 255, 0.8) !important;
}

body.xstyled-color-mode-dark header{
    background : rgba(26, 32, 44, 0.8) !important;
}
