.wrapper{
    display: flex;
    height: 95vh;
    background: rgb(30, 30, 60) url('./background.webp') no-repeat top left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction : column;
}

.wrapper h1{
    white-space: nowrap;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    color : #D9D9D9;
    text-shadow: 0.4vh 0.4vw #b7410e;
    font-size:calc(16px + 5vw);
}

.wrapper h1 img.logo{
    height:calc(20px + 5vw);
    width:calc(20px + 5vw);
    margin-right : 2vw;
}

/* -------------------------------------------------------------------------- Section 2 -------------------------------------------------------------------------- */

.section2{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 95vh;
    padding: 3vw;
}

.guide{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.guide h2{
    font-size: calc(10px + 2.5vw)
}


/* ---------------------------------*/

.feature{
    text-align: center;
    font-size: 3rem;
}

.rust{
    transition: all 0.5s;
}

.feature:hover .rust{
    color : #b7410e;
    text-shadow: 0.4vh 0.4vw #D9D9D9;
}