.wrapper{
    display: flex;
    height: 95vh;
    background: rgb(30, 30, 60) url('./background.webp') no-repeat top left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction : column;
}

.wrapper h1{
    white-space: nowrap;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    color : #D9D9D9;
    text-shadow: 0.4vh 0.4vw #b7410e;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size:calc(16px + 5vw);
    transition: all 0.5s linear;
    user-select: none;
}

.wrapper h1:hover{
    text-shadow: 0.7vh 0.7vw #b7410e;
    padding: 10vh 2rem;
}
.wrapper h1:hover img.logo{
    transform: scale(1.05);
}

.wrapper h1 img.logo{
    height:calc(20px + 5vw);
    width:calc(20px + 5vw);
    margin-right : 2vw;
    transition: all 0.5s linear;
}

/* -------------------------------------------------------------------------- Why Rust Section -------------------------------------------------------------------------- */


.feature-wrapper{
    min-height: 95vh;
}

.feature-wrapper:hover .rust{
    color : #b7410e;
    text-shadow: 0.4vh 0.4vw #D9D9D9;
}

.feature{
    text-align: center;
    font-size: 3rem;
}

.rust{
    transition: all 0.5s;
}

img.feature-image{
    height: 48px;
    transition: all 1s;
}

.feature-item{
    text-align: center;
}
.feature-text{
    text-align: center !important;
}

.feature-item:hover img{
    transform: scale(1.2);
}